.frmbut{
	background-color: rgba(0,0,240,1);
	border-radius: 0em;
	box-shadow: 0em 0.1em 0.4em 0.01em rgba(0,0,0,0.9);
	color: rgb(255,255,0);
	font-size: 1.5em;
	height: 2em;
	margin: 0;
	padding: 0;
	width: 7.5em;
}